.button-holder {
  background-color: #000;
  display: inline-block;
  margin: 0.2em 0.4em;
  border: 2px solid transparent;
  border-radius: 3px;
}
.button {
  padding: 0.5em 1.2em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 3px;
  background-color: var(--top);
  --button-shadow: inset 0 1px 1px rgb(255 255 255 / 92.8%), inset 0 -1px 1px rgb(0 0 0 / 83.3%), var(--top);
}

.button, .button:hover {
  border: none;
}

.button.pushed {
  box-shadow: inset 0 1px 5px #000000e2;
  background-color: var(--bottom);
  translate: 0 1px;
}

.led-stepper {
  background: #ddd;
  color: #333;
  border: 1.5px solid #222;
  border-radius: 4px;
  font-family: 'Share Tech Mono', 'Consolas', monospace;
  margin: 1px 1px;
  box-shadow: 0 2px 8px #111, inset 0 1px 2px #444;
  text-shadow: 0 0 6px #00ff41, 0 0 2px #fff;
  cursor: pointer;
  transition: background 0.1s, box-shadow 0.1s;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.led-stepper:active {
  background: linear-gradient(180deg, #111 60%, #222 100%);
  box-shadow: 0 1px 4px #000, inset 0 1px 2px #222;
}
.led-number-edit {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding-top: 10px;
  padding-right: 8px;
}

.led-input {
  width: 48px;
  font-size: 1.1em;
  border: none;
  background: transparent;
  color: #00ff41;
  text-align: right;
  outline: none;
  font-family: 'Share Tech Mono', 'Consolas', monospace;
}

.led-display {
  min-width: 48px;
  padding: 2px 8px;
  background: linear-gradient(180deg, #222 60%, #333 100%);
  border-radius: 6px;
  box-shadow: 0 2px 8px #111, inset 0 1px 2px #444;
  color: #00ff41;
  font-family: 'Share Tech Mono', 'Consolas', monospace;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-shadow: 0 0 6px #00ff41, 0 0 2px #fff;
  border: 1.5px solid #222;
}
.rocker-toggle {
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.rocker-bg {
  display: inline-block;
  width: 48px;
  height: 20px;
  background: #777;
  border-radius: 16px;
  box-shadow: inset 0 0 8px #000;
  position: relative;
  transition: background 0.2s;
}
.rocker-toggle input:checked + .rocker-bg {
  background: #3f3;
}
.rocker-knob {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 13px;
  height: 13px;
  background: #3f3;
  border-radius: 50%;
  border: 2px solid #eee;
  box-shadow: 0 2px 6px #888, inset 0 1px 2px #fff;
  transition: left 0.2s;
}
.rocker-toggle input:checked + .rocker-bg .rocker-knob {
  left: 28px;
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.logo {
  height: 2em;
  padding: 10px;
}

.editor, .body, .title {
   background-image: url(./assets/noise.svg), linear-gradient(to bottom in oklab, var(--top), var(--bottom));
}

.editor {
  padding: 0px 0px 20px 0px;
  margin: 0px;
  border: 1px solid black;

  background-size:200px 200px,auto;
  border-radius: 10px;
  box-shadow: 0 0 35px 10px #aaa
}

title-bar {
  margin: 0;
  padding: 0;
}

tab-bar {
  margin: 0;
  padding: 0;
}

.tab {
  border: 1px solid black;
  border-bottom: none;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 5px 5px 5px 5px;
  margin: 3px;
  margin-bottom: 0;
  position: relative;
  bottom: 0px;
}

.tab.not-selected {
  position: relative;
  bottom: -10px;
}

.tab.selected {
  padding-bottom: 15px;
}

.list {
  padding: 0;
  margin: 0;
}

.border {
  width: 20px;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url("./assets/wood.jpg");
  background-repeat: repeat;
  background-size: cover;
  grid-row: 1/2;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.editor-body {
  margin: 0;
  padding: 0;
  display: grid;
  /* generated by ts: grid-template-columns */
  grid-template-rows: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.list { grid-row: 1/2; }

.component {
  padding: 0;
  margin: 10px 0px;
}

.blue, .black, .red {
  color: white;
}

.title {
  padding: 3px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 6px 6px 0px 0px;
}
.body {
  padding: 10px 10px;
  border-bottom: 1px solid black;
  border-radius: 0px 0px 6px 6px;
}